@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #111;
  --gray: #333;
  --gray-dark: #222;
  --red: #ff4343;
  --white: #f0f0f0;
}

body {
  background-color: var(--black);
  color: var(--white);
  letter-spacing: 0.2em;
}
